### 07 데이터 결합하고 분해하기

#### [07 - 1] 데이터 연결하기

In [73]:
import pandas as pd

df1 = pd.read_csv('../data/concat_1.csv')
df2 = pd.read_csv('../data/concat_2.csv')
df3 = pd.read_csv('../data/concat_3.csv')

In [74]:
# df1, df2, df3 데이터 확인
print(df1)
print('---------------')
print(df2)
print('---------------')
print(df3)
print('---------------')

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
---------------
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
---------------
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
---------------

##### 1. 데이터프레임 살펴보기

In [75]:
# df1 속성
print(df1.index)

# df2 열 이름
print(df1.columns)

# df1 값
print(df1.values)

RangeIndex(start=0, stop=4, step=1)
Index(['A', 'B', 'C', 'D'], dtype='object')
[['a0' 'b0' 'c0' 'd0']
 ['a1' 'b1' 'c1' 'd1']
 ['a2' 'b2' 'c2' 'd2']
 ['a3' 'b3' 'c3' 'd3']]

##### 2. 행 연결하기

##### 1) 행 방향 연결하기

In [76]:
# concat() 함수에 리스트로 전달
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [77]:
# 네 번째 행 추출
print(row_concat.iloc[3, :])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [78]:
# 시리지 하나 생성하여 데이터프레임에 연결
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [79]:
# new_row_series와 df1 결합
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [80]:
# n1, n2, n3, n4을 데이터프레임으로 변환
new_row_df = pd.DataFrame(
    data = [["n1", "n2", "n3", "n4"]],
    columns = ["A", "B", "C", "D"],
)
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [81]:
# df1과 new_row_df 결합
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

##### 2) 새로운 인덱스 설정하기

In [82]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index = True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

##### 3. 열 연결하기

##### 1) 열 방향 연결하기

In [83]:
# df1, df2, df3 열 방향으로 연결
col_concat = pd.concat([df1, df2, df3], axis = "columns")
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [84]:
# 열 이름 기준으로 데이터 추출
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [85]:
# 열 추가
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [86]:
# 데이터프레임에 시리즈 추가
col_concat['new_col_series'] = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list  \
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

  new_col_series
0             n1
1             n2
2             n3
3             n4

In [87]:
# 열 이름 다시 설정
print(pd.concat([df1, df2, df3], axis = 1, ignore_index = True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

##### 4. 인덱스나 열 이름이 다른 데이터 연결하기

##### 1) 열 이름이 다른 데이터 행 방향 연결하기

In [88]:
# 열 이름 변경
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']

In [89]:
# df1, df2, df3 데이터 확인
print(df1)
print('---------------')
print(df2)
print('---------------')
print(df3)
print('---------------')

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
---------------
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
---------------
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
---------------

In [90]:
# df1, df2, df3 데이터 연결
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [91]:
# 공통인 열만 출력
print(pd.concat([df1, df2, df3], join = 'inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [92]:
# df1, df3 공통인 열만 출력
print(pd.concat([df1, df3], join = 'inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

##### 2) 인덱스가 다른 데이터 열 방향 연결하기

In [93]:
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]

In [94]:
# df1, df2, df3 데이터 확인
print(df1)
print('---------------')
print(df2)
print('---------------')
print(df3)
print('---------------')

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
---------------
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
---------------
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11
---------------

In [95]:
# 열 방향으로 연결
col_concat = pd.concat([df1, df2, df3], axis = 1)
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [96]:
# df1, df3 공통인 행만 출력
print(pd.concat([df1, df3], axis = 1, join = 'inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

#### [07 - 3] 분할된 데이터 연결하기

##### 1) 여러 개의 파일로 분할된 데이터 연결하기

In [ ]:
from pathlib import Path

# 파일 검색
billboard_data_files = (
    Path(".")   ## 현재 실행 중인 파이썬 파일이 있는 폴더
    .glob("../data/billboard_by_week/billboard-*.csv"))     ## 해당 경로에 있는 파일 중 패턴에 맞는 파일 모두 찾기

# 리스트 변환 및 정렬
billboard_data_files = sorted(list(billboard_data_files))   ## 파일 검색한 결과를 리스트로 만들어 정렬
print(billboard_data_files)

In [ ]:
# 데이터 불러오기 및 확인
billboard01 = pd.read_csv(billboard_data_files[0])
billboard02 = pd.read_csv(billboard_data_files[1])
billboard03 = pd.read_csv(billboard_data_files[2])
print(billboard01)

In [ ]:
# 각 데이터프레임의 shape 확인
print(billboard01.shape)
print(billboard02.shape)
print(billboard03.shape)

In [ ]:
# 불러온 데이터 연결
billboard = pd.concat([billboard01, billboard02, billboard03])

# 연결한 데이터프레임의 shape 확인
print(billboard.shape)

##### 2) 루프 구문으로 여러 개의 파일 불러오기

In [105]:
billboard_data_files = (
    Path(".")
    .glob("../data/billboard_by_week/billboard-*.csv")
)

# 빈 리스트 생성
list_billboard_df = []

# CSV 파일명 리스트 순회
for csv_filename in billboard_data_files:
    # print(csv_filename)

    # CSV 파일을 데이터프레임으로 불러오기
    df = pd.read_csv(csv_filename)

    # 데이터프레임을 리스트에 추가
    list_billboard_df.append(df)

print(len(list_billboard_df))

76

In [108]:
# 첫 번째 요소 유형 확인
print(type(list_billboard_df[0]))

# 데이터 확인
print(list_billboard_df[0])

<class 'pandas.core.frame.DataFrame'>
     year            artist                    track  time date.entered week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21  wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk1
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk1
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk1
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk1
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk1

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312    86.0
313    85.0
314    95.0
315    99.0
316    60.0

[317 rows x 7 columns]

In [109]:
# 데이터 연결
billboard_loop_concat = pd.concat(list_billboard_df)
print(billboard_loop_concat.shape)

(24092, 7)

##### 3) 리스트 컴프리헨션으로 여러 개 파일 불러오기

In [ ]:
billboard_data_files = (
    Path(".")
    .glob("../data/billboard_by_week/billboard-*.csv")
)

# 리스트 컴프리헨션
billboard_dfs = [pd.read_csv(data) for data in billboard_data_files]

In [115]:
# 유형 확인
print(type(billboard_dfs))

# 크기 확인
print(len(billboard_dfs))

<class 'list'>
76

In [116]:
# 데이터프레임 연결
billboard_concat_comp = pd.concat(billboard_dfs)
print(billboard_concat_comp)

     year            artist                    track  time date.entered  week  \
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   wk1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   wk1
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08   wk1
3    2000      3 Doors Down                    Loser  4:24   2000-10-21   wk1
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15   wk1
..    ...               ...                      ...   ...          ...   ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  wk76
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  wk76
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  wk76
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  wk76
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  wk76

     rating
0      87.0
1      91.0
2      81.0
3      76.0
4      57.0
..      ...
312     NaN
313     NaN
314     NaN
315     NaN
316     NaN

[24092 rows x 7 columns]

#### [07 - 4] 여러 데이터셋 병합하기

In [117]:
person = pd.read_csv('../data/survey_person.csv')
site = pd.read_csv('../data/survey_site.csv')
survey = pd.read_csv('../data/survey_survey.csv')
visited = pd.read_csv('../data/survey_visited.csv')

In [118]:
print(person)
print('---------------')
print(site)
print('---------------')
print(survey)
print('---------------')
print(visited)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
---------------
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
---------------
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
---------------
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

##### 1) 일대일 병합하기

In [128]:
# visited의 일부 데이터 추출
visited_subset = visited.iloc[[0, 2, 6], :]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [129]:
# 중복 데이터 유무 확인
print(visited_subset["site"].value_counts())

site
DR-1     1
DR-3     1
MSK-4    1
Name: count, dtype: int64

In [ ]:
# site의 name열과 오른쪽 데이터프레임 visited_subset의 site 열 공통값을 기준으로 연결
o2o_merge = site.merge(visited_subset, left_on = "name", right_on = "site")
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

##### 2) 다대일 병합하기

In [131]:
# 중복값 개수 확인
print(visited["site"].value_counts())

site
DR-3     4
DR-1     3
MSK-4    1
Name: count, dtype: int64

In [132]:
m2o_merge = site.merge(visited, left_on = 'name', right_on = 'site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

##### 3) 다대다 병합하기

In [133]:
ps = person.merge(survey, left_on = 'ident', right_on = 'person')
vs = visited.merge(survey, left_on = 'ident', right_on = 'taken')

In [134]:
print(ps)
print('-----------------------')
print(vs)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25
-----------------------
    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [136]:
# quant 열 중복값 확인
print(ps["quant"].value_counts())
print('---------------')
print(vs["quant"].value_counts())

quant
rad     8
sal     8
temp    3
Name: count, dtype: int64
---------------
quant
sal     9
rad     8
temp    4
Name: count, dtype: int64

In [139]:
# quant 기준으로 병합
ps_vs = ps.merge(vs, left_on = "quant", right_on = "quant")
print(ps_vs.loc[0, :])

ident_x            dyer
personal        William
family             Dyer
taken_x             619
person_x           dyer
quant               rad
reading_x          9.82
ident_y             619
site               DR-1
dated        1927-02-08
taken_y             619
person_y           dyer
reading_y          9.82
Name: 0, dtype: object

##### 4) assert문으로 병합 결과 확인하기

In [ ]:
# 모든 병합 데이터프레임 shape 확인
print(ps.shape)
print(vs.shape)
print(ps_vs.shape)

(19, 7)
(21, 7)
(148, 13)

In [ ]:
# assert문을 사용한 조건 검사 (True일 때)
assert vs.shape[0]  == 21

In [143]:
# assert문을 사용한 조건 검사 (False일 때)
# assert ps_vs.shape[0] <= vs.shape[0]

#### [07 - 5] 데이터 정규화하기

##### 1) 표 분할하여 데이터 정규화하기

In [ ]:
billboard = pd.read_csv('../data/billboard.csv')

# 피벗 되돌리기
billboard_long = billboard.melt(
    id_vars = ["year", "artist", "track", "time", "date.entered"],
    var_name = "week",
    value_name = "rating",
)
print(billboard_long)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

In [145]:
# 특정 곡 데이터 추출
print(billboard_long.loc[billboard_long.track == 'Loser'])

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [ ]:
# 새로운 데이터프레임으로 옮길 4개의 열 데이터 추출
billboard_songs = billboard_long[["year", "artist", "track", "time", "date.entered"]]
print(billboard_songs.shape)

(24092, 5)

In [ ]:
# 중복된 값 제거
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 5)

In [ ]:
# 인덱스 값에 1을 더한 id 할당
billboard_songs['id'] = billboard_songs.index + 1
print(billboard_songs)

     year            artist                    track  time date.entered   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26    1
1    2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02    2
2    2000      3 Doors Down               Kryptonite  3:53   2000-04-08    3
3    2000      3 Doors Down                    Loser  4:24   2000-10-21    4
4    2000          504 Boyz            Wobble Wobble  3:35   2000-04-15    5
..    ...               ...                      ...   ...          ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29  313
313  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01  314
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18  315
315  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02  316
316  2000   matchbox twenty                     Bent  4:12   2000-04-29  317

[317 rows x 6 columns]

In [ ]:
# 곡 정보와 관련된 4개 열 기준으로 데이터프레임 병합
billboard_ratings = billboard_long.merge(
    billboard_songs, on = ["year", "artist", "track", "time", "date.entered"]
)
print(billboard_ratings.shape)

(24092, 8)

In [ ]:
# 결과 확인
print(billboard_ratings)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating   id
0       wk1    87.0    1
1       wk1    91.0    2
2       wk1    81.0    3
3       wk1    76.0    4
4       wk1    57.0    5
...     ...     ...  ...
24087  wk76     NaN  313
24088  wk76     NaN  314
24089  wk76     NaN  315
24090  wk76     NaN  316
24091  wk76     NaN  317

[24092 rows x 8 columns]

In [ ]:
# 주별 순위 데이터프레임
billboard_ratings = billboard_ratings[["id", "week", "rating"]]
print(billboard_ratings)

        id  week  rating
0        1   wk1    87.0
1        2   wk1    91.0
2        3   wk1    81.0
3        4   wk1    76.0
4        5   wk1    57.0
...    ...   ...     ...
24087  313  wk76     NaN
24088  314  wk76     NaN
24089  315  wk76     NaN
24090  316  wk76     NaN
24091  317  wk76     NaN

[24092 rows x 3 columns]