### 10 자료형 더 알아보기

#### [10 - 1] 자료형 살펴보기

In [1]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")

In [2]:
# 데이터 자료형 확인
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [3]:
# 데이터 확인
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### [10 - 2] 자료형 변환하기

##### 1) 문자열로 변환하기

In [6]:
# sex열을 object형으로 변환
tips['sex_str'] = tips['sex'].astype('str')
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

##### 2) 숫자로 변환하기

In [9]:
# total_bill 열을 object형으로 변환
tips['total_bill'] = tips['total_bill'].astype('str')
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [10]:
# 다시 total_bill의 object형을 float64형으로 변환
tips['total_bill'] = tips['total_bill'].astype('float')
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

##### 3) 숫자형으로 변환하는 to_numeric() 함수 사용하기

In [ ]:
# 데이터셋의 첫 10개 행을 추출하여 저장하고 total_bill 열의 몇개 값을 'missing'으로 변환
tips_sub_miss = tips.head(10).copy()
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'

print(tips_sub_miss.head(10))

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\clatk\AppData\Local\Temp\ipykernel_21792\1969501901.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'

In [15]:
# total_bill 열 자료형 확인
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [17]:
# total_bill 열을 다시 float64형으로 변환
# pd.to_numeric(tips_sub_miss['total_bill'])    ## 'missing'이라는 문자열을 부동 소수점으로 변환하는 방법을 모르기 때문

to_numeric() 함수의 매개변수 errors에 설정할 수 있는 값
1. 'raise' : 변환할 수 없는 값이 있을 때 오류를 발생시킨다.
2. 'coerce' : 변환할 수 없는 값이 있을 때 NaN으로 값을 설정한다.
3. 'ignore' : 변환할 수 없는 값이 있을 때 해당 값을 그대로 사용한다.

In [18]:
# ignore 사용
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors = 'ignore')

print(tips_sub_miss.head(10))

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\clatk\AppData\Local\Temp\ipykernel_21792\1819180234.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors = 'ignore')

In [ ]:
# 자료형 확인
print(tips_sub_miss.dtypes)     ## 자료형 변하지 않음

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [ ]:
# coerce 사용
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors = 'coerce')
print(tips_sub_miss)

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5         NaN  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7         NaN  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male

In [ ]:
# 자료형 확인
print(tips_sub_miss.dtypes)     ## float64로 변환 성공

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

#### [10 - 3] 범주형 데이터 알아보기

##### 1) 범주형으로 변환하기

In [ ]:
# sex 열을 문자열로 변환 후 메모리 사용량 확인
tips['sex'] = tips['sex'].astype('str')
print(tips.info())      ## 10.8+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

In [ ]:
# 다시 category형으로 변환 후 메모리 사용량 확인
tips['sex'] = tips['sex'].astype('category')
print(tips.info())      ## 9.3+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB
None